.loom{
    border: 1px solid black;
    width: 1200px;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
}

.heddles{
    border: 1px solid black;
}

.threadControls{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
}

.pickControls{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
}

.warpChains{
    border: 1px solid black;
}

.instructions{
    text-align: left;
}

.controls{
    text-align: left;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.controls input{
    width: 38px;
    margin: 5px;
}

.pick{
    margin-top: 5px;
    border: 1px solid black;
    padding: 5px;
    position: relative;
}

.x{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: #aa0000;
}