.loom{
    border: 1px solid black;
}

.heddles{
    border: 1px solid black;
}

.warpChains{
    border: 1px solid black;
}

.instructions{
    text-align: left;
}

.pick{
    margin-top: 5px;
    border: 1px solid black;
    padding: 5px;
}