@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.fabric{
    border: 3px solid black;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

#warpingGuide{
    vertical-align: top;
}

.patternLength{
    overflow-wrap: anywhere;
}

.colorBox{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: inline-block;
}

.threadLabel{
    font-size: 12px;
}

.colorStat{
    display: inline-block;
}

.colorStatContainer{
    padding: 5px;
}

.navbar-item{
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #cc1111;
}

#navbar{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.color-label{
    margin-right: 10px;
    width: 60px;
    display: inline-block;
}

.color-parent{
    padding-top: 15px;
}

#controls{
    width: 300px;
    vertical-align: top;
    padding-top: 18px;
}

#output {
  padding: 20px;
  text-align: center;
  vertical-align: top;
}
